# Python Basics
## Numbers

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
2*10

20

In [4]:
10/2

5.0

In [5]:
10%2

0

In [6]:
10**2

100

In [7]:
type(1)

int

In [8]:
type(10.0)

float

In [9]:
type("hello")

str

In [10]:
type(True)

bool

# String

In [11]:
"Hello"

'Hello'

In [12]:
'Karthik'

'Karthik'

In [13]:
'karthik '+'krishna'

'karthik krishna'

In [14]:
'karthik '*10

'karthik karthik karthik karthik karthik karthik karthik karthik karthik karthik '

In [15]:
type('karthik')

str

# built-in functions in string.
1.capitalize()

2.casefold()

3.center()

4.count()

5.encode()

6.endswith()

7.expandtabs()

8.find()

9.format()

10.format_map()

11.index()

12.isalnum()

13.isalpha()

14.isdecimal()

15.isdigit()

16.isidentifier()

17.islower()

18.isnumeric()

19.isprintable()

20.isspace()

21.istitle()

22.isupper()

23.join()

24.ljust()

25.lower()

26.lstrip()

27.maketrans()

28.partition()

29.replace()

30.rfind()

31.rindex()

32.rjust()

33.rpartition()

34.rsplit()

35.rstrip()

36.split()

37.splitlines()

38.startswith()

39.strip()

40.swapcase()

41.title()

42.translate()

43.upper()

44.zfill()

# capitalize()
Return a capitalized version of S, i.e. make the first character

In [124]:
string = "python is AWesome."

string1 = string.capitalize()

print('Old String: ', string)
print('Capitalized String:', string1)

Old String:  python is AWesome.
Capitalized String: Python is awesome.

# casefold()
an aggressive lower() method which convert strings to casefolded strings for caseless matching.

In [126]:
string = "PYTHON IS AWESOME"
print("Lowercase string:", string.casefold())

Lowercase string: python is awesome

# center()
Return S centered in a string of length width. Padding is
done using the specified fill character (default is a space)

In [131]:
string = "Python is awesome"

string1 = string.center(24)

print("Centered String: ", string1)

Centered String:     Python is awesome

# count()
Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.

In [132]:
string = "Python is awesome, isn't it?"
substring = "is"
count = string.count(substring)
print("The count is:", count)

The count is: 2

# encode()

In [134]:
string = 'pyth√∂n!'
print('The string is:', string)

string_utf = string.encode()
print('The encoded version is:', string_utf)

The string is: karthik
The encoded version is: b'karthik'

# endswith()

# expandtabs()

# find()

# format()

# format_map()

# index()

# isalnum()

# isalpha()

# isdecimal()

# isdigit()

# isidentifier()

# islower()

# isnumeric()

# isprintable()

# isspace()

# istitle()

# isupper()

# join()

# ljust()

# lower()

# lstrip()

# maketrans()

# partition()

# replace()

# rfind()

# rindex()

# rjust()

# rpartition()

# rsplit()

# rstrip()

# split()

# splitlines()

# startswith()

# strip()

# swapcase()

# title()

# translate()

# upper()

# zfill()

# Variable Assignment

In [16]:
# syntax
# var_name = value

a = 10
type(a)

int

In [17]:
a = 'karthik'
type(a)

str

In [18]:
# Mathematical opereation with variable Assignment.

a =10 
b = 20

In [19]:
print(a+b)
print(a*b)
print(b/a)
print(a-b)
print(a%b)
print((a+b)+(a-b))

30
200
2.0
-10
10
20

In [20]:
## various ways of printing.
print('Hello')

Hello

In [21]:
first_name = 'karthik'
last_name = 'krishna'

In [22]:
print('My first name is {} and last name is {}'.format(first_name,last_name))

My first name is karthik and last name is krishna

In [23]:
print('My first name is {first} and last name is {last}'.format(first=first_name,last=last_name))

My first name is karthik and last name is krishna

In [24]:
len('karthik')

7

In [25]:
type(['1',2,3,'4',5])

list

# Importance of Python.
### 1.Python is easy to use.
### 2.It supports many libraries and frameworks.
### 3.Community and Corporate support.

# Python Data structures and boolean.
## Boolean
## Boolean and Logical Operators
## Lists,Dictionaries,Tuples,sets
## Comparison Operators

# 1.Boolean
##### Boolean values are two constant objects False and True.
##### They are represent truth values.
##### the numeric contexts
##### The built in function bool() can be used to cast any value to a Boolean, if value can be interupted as truth value.
##### They are return as false and truth, respectively.

In [26]:
print(True,False)

True False

In [27]:
type(True)

bool

In [28]:
type(False)

bool

In [29]:
my_str = 'karthik krishna'

In [30]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.istitle())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('a'))
print(my_str.startswith('s'))

False
False
False
False
False
True
False
True
False

# Boolean and Logical Operators

In [31]:
True and True

True

In [32]:
True and False

False

In [33]:
True or True

True

In [34]:
True or False

True

In [35]:
str_example = 'Hello world'
my_str = 'karthik'

In [36]:
my_str.isalpha() or str_example.isnum()

True

# Lists
list is a data structure in python that is a mutable, or changeable, ordered sequence of elements each element or value inside of a list is called an item. just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ].

In [37]:
lst_example =[]

In [38]:
type(lst_example)

list

In [39]:
lst=list()
type(lst)

list

In [40]:
lst = [100,200,300,400,500,100,100]
type(lst)

list

# Built-in functions in List
1.lst.append() 

2.lst.clear() 

3.lst.copy() 

4.lst.count() 

5.lst.extend() 

6.lst.index() 

7.lst.insert() 

8.lst.pop() 

9.lst.remove() 

10.lst.reverse() 

11.lst.sort()

# sort()

In [41]:
lst = [100,200,300,400,500,100,100]
lst.sort()
lst

[100, 100, 100, 200, 300, 400, 500]

# len()
Return the number of items in a container.

In [42]:
lst = [100,200,300,400,500,100,100]
len(lst)

7

# append()
append object to end

In [43]:
# append is used to add elements in the list.
lst = [100,200,300,400,500]
lst.append('karthik')

In [44]:
lst.append(['krishna','radha'])

In [45]:
# append list inside list.
lst.append([4,5])

In [46]:
lst

[100, 200, 300, 400, 500, 'karthik', ['krishna', 'radha'], [4, 5]]

In [47]:
#Indexing in list.
lst[3]

400

# copy()
a shallow copy of List.

In [48]:
lst = [100,200,300,400,500]
print(lst)
lst1= lst.copy()
print(lst1)

[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500]

# Insert
insert object before index.

Inserts in specific order.

In [49]:
lst = [100,200,300,400,500]
lst.insert(1,'vikram')

In [50]:
lst

[100, 'vikram', 200, 300, 400, 500]

# extend()
extend list by appending elements from the iterable

In [51]:
lst = [1,2,3]
lst.extend([4,5])

In [52]:
lst

[1, 2, 3, 4, 5]

# reverse()

In [53]:
lst = [1,2,3,4,5]
print(lst)
lst.reverse()
print(lst)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

# sum()
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

In [54]:
lst = [1,2,3,4,5,6]
sum(lst)

21

# pop()
remove and return item at index (default last).

In [55]:
lst = [1,2,3,4,5,10]
lst.pop()

10

# count() 
Calculates total occurrences of given elements of List.

return number of occurrences of value.

In [56]:
lst = [1,1,2,3,1,4,5,1,2,3,1]
lst.count(1)

5

# index()
Return the index of first occurrence.

In [57]:
lst = [1,3,10,3,1,4,5,1,10,3,1]
lst.index(10,1,10)

2

# min()

In [58]:
lst = [1,3,10,3,1,4,5,1,10,3,1]
min(lst)

1

# max()

In [59]:
lst = [1,3,10,3,1,4,5,1,10,3,1]
max(lst)

10

# remove()
remove first occurrence of value.

In [60]:
lst.remove(5)
lst

[1, 3, 10, 3, 1, 4, 1, 10, 3, 1]

# clear()
remove all items from List.

In [61]:
lst.clear()

# SETS
A set ia unordered collection data type that is iterable, mutable, and has no duplicate elements. pythons set class represents the mathematical notation of set. This is based on data structure known as hash table.

In [62]:
# Defineing empty set.
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [63]:
set1 = {"karthik","vikram","shilpa"}
set1

{'karthik', 'shilpa', 'vikram'}

#  Built-in functions in sets.
1.set1.add()

2.set1.clear()

3.set1.copy()

4.set1.difference()

5.set1.difference_update()

6.set1.discard()

7.set1.intersection()

8.set1.intersection_update()

9.set1.isdisjoint()

10.set1.issubset()

11.set1.issuperset()

12.set1.pop()

13.set1.remove()

14.set1.symmetric_difference()

15.set1.union()

16.set1.update()

# add()
Add an element to a set.

In [64]:
set1 = {"karthik","vikram","shilpa"}
set1.add('lakshmi')
set1

{'karthik', 'lakshmi', 'shilpa', 'vikram'}

# clear()
Remove all elements from this set.

In [65]:
set1 = {"karthik","vikram","shilpa"}
print(set1)
set1.clear()
set1

{'karthik', 'shilpa', 'vikram'}

set()

# copy()
Return a shallow copy of a set.

In [66]:
set1 = {"karthik","vikram","shilpa"}
print(set1)
set2 = set1.copy()
set2

{'karthik', 'shilpa', 'vikram'}

{'karthik', 'shilpa', 'vikram'}

# difference()
Return the difference of two or more sets as a new set.

In [67]:
set1 = {"karthik","vikram","shilpa",'srusti'}
set2 = {'karthik', 'lakshmi', 'shilpa', 'vikram'}

In [68]:
set1.difference(set2)

{'srusti'}

In [69]:
set2.difference(set1)

{'lakshmi'}

# difference_update()
 Remove all elements of another set from this set.

In [70]:
set1 = {"karthik","vikram","shilpa",'srusti'}
set2 = {'karthik', 'lakshmi', 'shilpa', 'vikram'}
set1.difference_update(set2)
set1

{'srusti'}

# discard()
Remove an element from a set if it is a member.

In [71]:
set1 = {"karthik","vikram","shilpa",'srusti'}
set1.discard('karthik')
set1

{'shilpa', 'srusti', 'vikram'}

# intersection()
Return the intersection of two sets as a new set.

In [72]:
set1 = {"karthik","vikram","shilpa",'srusti'}
set2 = {'karthik', 'lakshmi', 'shilpa', 'vikram'}
set1.intersection(set2)

{'karthik', 'shilpa', 'vikram'}

# intersection_update()
Update a set with the intersection of itself and another.

In [73]:
set1 = {1, 2, 3, 4}
set2 = {2, 3, 4, 5}
set3 = set1.intersection_update(set2)
print(set3)
print(set1)
print(set2)

None
{2, 3, 4}
{2, 3, 4, 5}

# isdisjoint()
Return True if two sets have a null intersection.

In [74]:
set1 = {1, 2, 3, 4}
set2 = {5,6,7}
set3 = {4, 5, 6}
set1.isdisjoint(set2)

True

In [75]:
set1.isdisjoint(set3)

False

# issubset()
Report whether another set contains this set.

In [76]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
set3 = {1, 2, 4, 5}
set1.issubset(set2)

True

In [77]:
set1.issubset(set3)

False

In [78]:
set2.issubset(set1)

False

In [79]:
set2.issubset(set3)

False

In [80]:
set3.issubset(set1)

False

In [81]:
set3.issubset(set2)

True

# issuperset()
Report whether this set contains another set.

In [82]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
set3 = {1, 2, 3}
set1.issuperset(set2)

True

In [83]:
set2.issuperset(set1)

False

In [84]:
set3.issuperset(set2)

True

# pop()
Remove and return an arbitrary set element.
Raises KeyError if the set is empty.

In [85]:
set1 = {10,1, 2, 3, 4, 5}
set1.pop()
set1

{2, 3, 4, 5, 10}

# remove()
Remove an element from a set; it must be a member.

In [86]:
set1 = {10,1, 2, 3, 4, 5}
set1.remove(10)
set1

{1, 2, 3, 4, 5}

# symmetric_difference()
Return the symmetric difference of two sets as a new set.

In [87]:
set1 = {'a', 'b', 'c', 'd'}
set2 = {'c', 'd', 'e' }
set3 = {}
set1.symmetric_difference(set2)

{'a', 'b', 'e'}

In [88]:
set2.symmetric_difference(set1)

{'a', 'b', 'e'}

In [89]:
set2.symmetric_difference(set3)

{'c', 'd', 'e'}

In [90]:
set1.symmetric_difference(set2)

{'a', 'b', 'e'}

# symmetric_difference_update()
Update a set with the symmetric difference of itself and another.

In [91]:
set1 = {'a', 'c', 'd'}
set2 = {'c', 'd', 'e' }
set1.symmetric_difference_update(set2)
set1

{'a', 'e'}

In [92]:
set2.symmetric_difference_update(set1)
set2

{'a', 'c', 'd'}

# union()
Return the union of sets as a new set.

In [93]:
set1 = {'a', 'c', 'd'}
set2 = {'c', 'd', 'e' }
set1.union(set2)

{'a', 'c', 'd', 'e'}

In [94]:
set2.union(set1)

{'a', 'c', 'd', 'e'}

# update()
Update a set with the union of itself and others.

In [95]:
set1 = {'a', 'c', 'd'}
set2 = {'c','b','d', 'e' }
set1.update(set2)
set2

{'b', 'c', 'd', 'e'}

In [96]:
set2.update(set2)
set1

{'a', 'b', 'c', 'd', 'e'}

# Dictionaries
A Dictionary is a collection which is unordered, changeable and indexed. In python dictionaries are written with curly brackets and they have keys and values.

In [97]:
dicr ={}
type(dicr)

dict

In [98]:
dicr = {1,2,3,4,5}
type(dicr)

set

In [99]:
# let create dictionary.
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
type(my_dicr)

dict

In [100]:
my_dicr["car4"]

'Ferrari'

In [101]:
my_dicr["car5"]="Maruthi"
my_dicr

{'car1': 'Audi',
 'car2': 'Benz',
 'car3': 'BMW',
 'car4': 'Ferrari',
 'car5': 'Maruthi'}

# Built-in functions of dictionary
1.clear()

2.copy()

3.fromkeys()

4.get()

5.items()

6.keys()

7.pop()

8.popitem()

9.setdefault()

10.update()

11.values()

# clear()
emove all items from D.

In [102]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
print(my_dicr)
my_dicr.clear()
my_dicr

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari'}

{}

# copy()
a shallow copy of D

In [103]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
print(my_dicr)
my_dicr1 = my_dicr.copy()
my_dicr1

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari'}

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari'}

# fromkeys()
 Returns a new dict with keys from iterable and values equal to value.

In [104]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
my_dicr1=dict.fromkeys(my_dicr)
my_dicr1

{'car1': None, 'car2': None, 'car3': None, 'car4': None}

# get()

In [105]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
my_dicr.get('car1')

'Audi'

In [106]:
my_dicr.get('car4')

'Ferrari'

In [107]:
my_dicr.get('car5','maruthi')

'maruthi'

# items()
a set-like object providing a view on D's items

In [108]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
for i in my_dicr.items():
    print(i)

('car1', 'Audi')
('car2', 'Benz')
('car3', 'BMW')
('car4', 'Ferrari')

In [109]:
for k,v in my_dicr.items():
    print(k,v)

car1 Audi
car2 Benz
car3 BMW
car4 Ferrari

# keys()

In [110]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
for k in my_dicr.keys():
    print(k)

car1
car2
car3
car4

# pop()
remove specified key and return the corresponding value.
If key is not found, d is returned if given, otherwise KeyError is raised

In [111]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
print(my_dicr)
my_dicr.pop("car3")
my_dicr

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari'}

{'car1': 'Audi', 'car2': 'Benz', 'car4': 'Ferrari'}

# popitem()
remove and return some (key, value) pair as a
2-tuple; but raise KeyError if D is empty.

In [112]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
print(my_dicr)
my_dicr.popitem()
my_dicr

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari'}

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW'}

# setdefault()
returns the value of a key (if the key is in dictionary). If not, it inserts key with a value to the dictionary.

In [113]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
default = my_dicr.setdefault("car1")
print(my_dicr)
print(default)

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari'}
Audi

# update()
updates the dictionary with the elements from the another dictionary object or from an iterable of key/value pairs.

In [114]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
my_dicr1 = {"car5":"Ambassedor"}
my_dicr.update(my_dicr1)
print(my_dicr)

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari', 'car5': 'Ambassedor'}

# values()
an object providing a view on D's values

In [115]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
for i in my_dicr.values():
    print(i)

Audi
Benz
BMW
Ferrari

# Nested Dictionaries

In [116]:
car1_model = {'Audi':1995}
car2_model = {'Ambassader':1994}
car3_model = {'BMW':1996}

car_type = {'car1':car1_model, 'car2':car2_model, 'car3':car3_model}
car_type

{'car1': {'Audi': 1995}, 'car2': {'Ambassader': 1994}, 'car3': {'BMW': 1996}}

In [117]:
print(car_type['car2'])
print(car_type['car2']['Ambassader'])

{'Ambassader': 1994}
1994

# Tuples
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [118]:
my_tuple = ("krisna","Nandini","Karthik")
type(my_tuple)

tuple

In [119]:
print(my_tuple)

('krisna', 'Nandini', 'Karthik')

# built-in functiions in Tuple
1.count()

2.index()

# count()
eturn number of occurrences of value

In [120]:
my_tuple = ("krishna","Nandini","Karthik",'krishna')
my_tuple.count('krishna')

2

# index()
return first index of value.

In [121]:
my_tuple = ("krisna","Nandini","Karthik",'Nandini')
my_tuple.index('Karthik')

2