# Python Basics
## Numbers

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
2*10

20

In [4]:
10/2

5.0

In [5]:
10%2

0

In [6]:
10**2

100

In [7]:
type(1)

int

In [8]:
type(10.0)

float

In [9]:
type("hello")

str

In [10]:
type(True)

bool

# String

In [11]:
"Hello"

'Hello'

In [12]:
'Karthik'

'Karthik'

In [13]:
'karthik '+'krishna'

'karthik krishna'

In [14]:
'karthik '*10

'karthik karthik karthik karthik karthik karthik karthik karthik karthik karthik '

In [15]:
type('karthik')

str

# built-in functions in string.
1.capitalize()

2.casefold()

3.center()

4.count()

5.encode()

6.endswith()

7.expandtabs()

8.find()

9.format()

10.format_map()

11.index()

12.isalnum()

13.isalpha()

14.isdecimal()

15.isdigit()

16.isidentifier()

17.islower()

18.isnumeric()

19.isprintable()

20.isspace()

21.istitle()

22.isupper()

23.join()

24.ljust()

25.lower()

26.lstrip()

27.maketrans()

28.partition()

29.replace()

30.rfind()

31.rindex()

32.rjust()

33.rpartition()

34.rsplit()

35.rstrip()

36.split()

37.splitlines()

38.startswith()

39.strip()

40.swapcase()

41.title()

42.translate()

43.upper()

44.zfill()

# capitalize()
Return a capitalized version of S, i.e. make the first character

In [16]:
string = "python is AWesome."

string1 = string.capitalize()

print('Old String: ', string)
print('Capitalized String:', string1)

Old String:  python is AWesome.
Capitalized String: Python is awesome.

# casefold()
an aggressive lower() method which convert strings to casefolded strings for caseless matching.

In [17]:
string = "PYTHON IS AWESOME"
print("Lowercase string:", string.casefold())

Lowercase string: python is awesome

# center()
Return S centered in a string of length width. Padding is
done using the specified fill character (default is a space)

In [18]:
string = "Python is awesome"

string1 = string.center(24)

print("Centered String: ", string1)

Centered String:     Python is awesome

# count()
Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.

In [19]:
string = "Python is awesome, isn't it?"
substring = "is"
count = string.count(substring)
print("The count is:", count)

The count is: 2

# encode()
returns encoded version of the given string.

In [20]:
string = 'pythön!'
print('The string is:', string)

string_utf = string.encode()
print('The encoded version is:', string_utf)

The string is: pythön!
The encoded version is: b'pyth\xc3\xb6n!'

# endswith()
returns True if a string ends with the specified suffix. If not, it returns False.

In [21]:
text = "Python is easy to learn."

result = text.endswith('to learn')
print(result)

result = text.endswith('to learn.')
print(result)

result = text.endswith('Python is easy to learn.')
print(result)

False
True
True

# expandtabs()
returns a copy of string with all tab characters '\t' replaced with whitespace characters until the next multiple of tabsize parameter.

In [22]:
str = 'xyz\t12345\tabc'

# no argument is passed
# default tabsize is 8
result = str.expandtabs(tabsize=2)

print(result)

xyz 12345 abc

# find()
returns the index of first occurrence of the substring (if found). If not found, it returns -1.

In [23]:
quote = 'Let it be, let it be, let it be'

result = quote.find('let it')
print("Substring 'let it':", result)

result = quote.find('small')
print("Substring 'small ':", result)

# How to use find()
if(quote.find('be,') != -1):
  print("Contains substring 'be,'")
else:
  print("Doesn't contain substring")

Substring 'let it': 11
Substring 'small ': -1
Contains substring 'be,'

# format()
The string format() method formats the given string into a nicer output in Python.

In [24]:
print("Hello {}, your balance is {}.".format("Adam", 230.2346))

# positional arguments
print("Hello {0}, your balance is {1}.".format("Adam", 230.2346))

# keyword arguments
print("Hello {name}, your balance is {blc}.".format(name="Adam", blc=230.2346))

# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Adam", blc=230.2346))

Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.

# format_map()
The format_map() method is similar to str.format(**mapping) except that str.format(**mapping) creates a new dictionary whereas str.format_map(mapping) doesn't.

In [25]:
point = {'x':4,'y':-5}
print('{x} {y}'.format_map(point))

point = {'x':4,'y':-5, 'z': 0}
print('{x} {y} {z}'.format_map(point))

4 -5
4 -5 0

# index()
returns the index of a substring inside the string (if found). If the substring is not found, it raises an exception.

In [26]:
sentence = 'Python programming is fun.'

result = sentence.index('is fun')
print("Substring 'is fun':", result)

Substring 'is fun': 19

# isalnum()
returns True if all characters in the string are alphanumeric (either alphabets or numbers). If not, it returns False.

In [27]:
name = "M234onica"
print(name.isalnum())

# contains whitespace
name = "M3onica Gell22er "
print(name.isalnum())

name = "Mo3nicaGell22er"
print(name.isalnum())

name = "133"
print(name.isalnum())

True
False
True
True

# isalpha()
returns True if all characters in the string are alphabets. If not, it returns False.

In [28]:
name = "Monica"
print(name.isalpha())

# contains whitespace
name = "Monica Geller"
print(name.isalpha())

# contains number
name = "Mo3nicaGell22er"
print(name.isalpha())

True
False
False

# isdecimal()
Returns True if all characters in a string are decimal characters. If not, it returns False.

In [29]:
s = "28212"
print(s.isdecimal())

# contains alphabets
s = "32ladk3"
print(s.isdecimal())

# contains alphabets and spaces
s = "Mo3 nicaG el l22er"
print(s.isdecimal())

True
False
False

# isdigit()
Returns True if all characters in a string are digits. If not, it returns False.

In [30]:
s = "28212"
print(s.isdigit())

# contains alphabets and spaces
s = "Mo3 nicaG el l22er"
print(s.isdigit())

True
False

# isidentifier()
Returns True if the string is a valid identifier in Python. If not, it returns False.

In [31]:
str = 'Python'
print(str.isidentifier())

str = 'Py thon'
print(str.isidentifier())

str = '22Python'
print(str.isidentifier())

str = ''
print(str.isidentifier())

True
False
False
False

# islower()
returns True if all alphabets in a string are lowercase alphabets. If the string contains at least one uppercase alphabet, it returns False.

In [32]:
s = 'this is good'
print(s.islower())

s = 'th!s is a1so g00d'
print(s.islower())

s = 'this is Not good'
print(s.islower())

True
True
False

# isnumeric()
returns True if all characters in a string are numeric characters. If not, it returns False.

In [33]:
s = '1242323'
print(s.isnumeric())
#s = '²3455'
s = '\u00B23455'
print(s.isnumeric())
# s = '½'
s = '\u00BD'
print(s.isnumeric())
s = '1242323'
s='python12'
print(s.isnumeric())

True
True
True
False

# isprintable()
returns True if all characters in the string are printable or the string is empty. If not, it returns False.

In [34]:
s = 'Space is a printable'
print(s)
print(s.isprintable())

s = '\nNew Line is printable'
print(s)
print(s.isprintable())

s = ''
print('\nEmpty string printable?', s.isprintable())

Space is a printable
True

New Line is printable
False

Empty string printable? True

# isspace()
returns True if there are only whitespace characters in the string. If not, it return False.

In [35]:
s = '   \t'
print(s.isspace())

s = ' a '
print(s.isspace())

s = ''
print(s.isspace())

True
False
False

# istitle()
returns True if the string is a titlecased string. If not, it returns False.

In [36]:
s = 'Python Is Good.'
print(s.istitle())

s = 'Python is good'
print(s.istitle())

s = 'This Is @ Symbol.'
print(s.istitle())

s = '99 Is A Number'
print(s.istitle())

s = 'PYTHON'
print(s.istitle())

True
False
True
True
False

# isupper()
returns whether or not all characters in a string are uppercased or not.

In [37]:
string = "THIS IS GOOD!"
print(string.isupper());

# numbers in place of alphabets
string = "THIS IS ALSO G00D!"
print(string.isupper());

# lowercase string
string = "THIS IS not GOOD!"
print(string.isupper());

True
True
False

# join()
returns a string concatenated with the elements of an iterable.

In [38]:
numList = ['1', '2', '3', '4']
seperator = ','
print(seperator.join(numList))

numTuple = ('1', '2', '3', '4')
print(seperator.join(numTuple))

s1 = 'abc'
s2 = '123'

""" Each character of s2 is concatenated to the front of s1""" 
print('s1.join(s2):', s1.join(s2))

""" Each character of s1 is concatenated to the front of s2""" 
print('s2.join(s1):', s2.join(s1))

1,2,3,4
1,2,3,4
s1.join(s2): 1abc2abc3
s2.join(s1): a123b123c

# ljust()
returns a left-justified string of a given minimum width.

In [39]:
string = 'cat'
width = 5

# print left justified string
print(string.ljust(width))

cat

# lower()
converts all uppercase characters in a string into lowercase characters and returns it.

In [40]:
string = "THIS SHOULD BE LOWERCASE!"
print(string.lower())

# string with numbers
# all alphabets whould be lowercase
string = "Th!s Sh0uLd B3 L0w3rCas3!"
print(string.lower())

this should be lowercase!
th!s sh0uld b3 l0w3rcas3!

# lstrip()
returns a copy of the string with leading characters removed (based on the string argument passed).

In [41]:
random_string = '   this is good '

# Leading whitepsace are removed
print(random_string.lstrip())

# Argument doesn't contain space
# No characters are removed.
print(random_string.lstrip('sti'))

print(random_string.lstrip('s ti'))

website = 'https://www.karthikasm.com/'
print(website.lstrip('htps:/.'))

this is good
   this is good
his is good
www.karthikasm.com/

# maketrans()
returns a mapping table for translation usable for translate() method.

In [42]:
dict = {"a": "123", "b": "456", "c": "789"}
string = "abc"
print(string.maketrans(dict))

# example dictionary
dict = {97: "123", 98: "456", 99: "789"}
string = "abc"
print(string.maketrans(dict))

{97: '123', 98: '456', 99: '789'}
{97: '123', 98: '456', 99: '789'}

# partition()
splits the string at the first occurrence of the argument string and returns a tuple containing the part the before separator, argument string and the part after the separator.

In [43]:
string = "Python is fun"

# 'is' separator is found
print(string.partition('is '))

# 'not' separator is not found
print(string.partition('not '))

string = "Python is fun, isn't it"

# splits at first occurence of 'is'
print(string.partition('is'))

('Python ', 'is ', 'fun')
('Python is fun', '', '')
('Python ', 'is', " fun, isn't it")

# replace()
returns a copy of the string where all occurrences of a substring is replaced with another substring.

In [44]:
song = 'cold, cold heart'
print (song.replace('cold', 'hurt'))

song = 'Let it be, let it be, let it be, let it be'

'''only two occurences of 'let' is replaced'''
print(song.replace('let', "don't let", 2))

hurt, hurt heart
Let it be, don't let it be, don't let it be, let it be

# rfind()
returns the highest index of the substring (if found). If not found, it returns -1.

In [45]:
quote = 'Let it be, let it be, let it be'

result = quote.rfind('let it')
print("Substring 'let it':", result)

result = quote.rfind('small')
print("Substring 'small ':", result)

result = quote.rfind('be,')
if  (result != -1):
  print("Highest index where 'be,' occurs:", result)
else:
  print("Doesn't contain substring")

Substring 'let it': 22
Substring 'small ': -1
Highest index where 'be,' occurs: 18

# rindex()
returns the highest index of the substring inside the string (if found). If the substring is not found, it raises an exception.

In [46]:
quote = 'Let it be, let it be, let it be'

result = quote.rindex('let it')
print("Substring 'let it':", result)

Substring 'let it': 22

# rjust()
returns a right-justified string of a given minimum width.

In [47]:
string = 'cat'
width = 5

# print right justified string
print(string.rjust(width))

  cat

# rpartition()
splits the string at the last occurrence of the argument string and returns a tuple containing the part the before separator, argument string and the part after the separator.

In [48]:
string = "Python is fun"

# 'is' separator is found
print(string.rpartition('is '))

# 'not' separator is not found
print(string.rpartition('not '))

string = "Python is fun, isn't it"

# splits at last occurence of 'is'
print(string.rpartition('is'))

('Python ', 'is ', 'fun')
('', '', 'Python is fun')
('Python is fun, ', 'is', "n't it")

# rsplit()
splits string from the right at the specified separator and returns a list of strings.

In [49]:
text= 'Love thy neighbor'

# splits at space
print(text.rsplit())

grocery = 'Milk, Chicken, Bread'

# splits at ','
print(grocery.rsplit(', '))

# Splitting at ':'
print(grocery.rsplit(':'))

['Love', 'thy', 'neighbor']
['Milk', 'Chicken', 'Bread']
['Milk, Chicken, Bread']

# rstrip()
returns a copy of the string with trailing characters removed (based on the string argument passed).

In [50]:
random_string = ' this is good'

# Leading whitepsace are removed
print(random_string.rstrip())

# Argument doesn't contain 'd'
# No characters are removed.
print(random_string.rstrip('si oo'))

print(random_string.rstrip('sid oo'))

website = 'www.programiz.com/'
print(website.rstrip('/.'))

 this is good
 this is good
 this is g
www.programiz.com

# split()
breaks up a string at the specified separator and returns a list of strings.

In [51]:
text= 'Love thy neighbor'

# splits at space
print(text.split())

grocery = 'Milk, Chicken, Bread'

# splits at ','
print(grocery.split(', '))

# Splitting at ':'
print(grocery.split(':'))

['Love', 'thy', 'neighbor']
['Milk', 'Chicken', 'Bread']
['Milk, Chicken, Bread']

# splitlines()
splits the string at line breaks and returns a list of lines in the string.

In [52]:
grocery = 'Milk\nChicken\r\nBread\rButter'

print(grocery.splitlines())
print(grocery.splitlines(True))

grocery = 'Milk Chicken Bread Butter'
print(grocery.splitlines())

['Milk', 'Chicken', 'Bread', 'Butter']
['Milk\n', 'Chicken\r\n', 'Bread\r', 'Butter']
['Milk Chicken Bread Butter']

# startswith()
returns True if a string starts with the specified prefix(string). If not, it returns False.

In [53]:
text = "Python is easy to learn."

result = text.startswith('is easy')
# returns False
print(result)

result = text.startswith('Python is ')
# returns True
print(result)

result = text.startswith('Python is easy to learn.')
# returns True
print(result)

False
True
True

# strip()
returns a copy of the string with both leading and trailing characters removed (based on the string argument passed).

In [54]:
string = ' xoxo love xoxo   '

# Leading whitepsace are removed
print(string.strip())

print(string.strip(' xoxo'))

# Argument doesn't contain space
# No characters are removed.
print(string.strip('sti'))

string = 'android is awesome'
print(string.strip('an'))

xoxo love xoxo
love
 xoxo love xoxo
droid is awesome

# swapcase()
converts all uppercase characters to lowercase and all lowercase characters to uppercase characters of the given string, and returns it.

In [55]:
string = "THIS SHOULD ALL BE LOWERCASE."
print(string.swapcase())

string = "this should all be uppercase."
print(string.swapcase())

string = "ThIs ShOuLd Be MiXeD cAsEd."
print(string.swapcase())

this should all be lowercase.
THIS SHOULD ALL BE UPPERCASE.
tHiS sHoUlD bE mIxEd CaSeD.

# title()
returns a string with first letter of each word capitalized; a title cased string.

In [56]:
text = 'My favorite number is 25.'
print(text.title())

text = '234 k3l2 *43 fun'
print(text.title())

My Favorite Number Is 25.
234 K3L2 *43 Fun

# translate()
returns a string where each character is mapped to its corresponding character in the translation table.

In [57]:
# first string
firstString = "abc"
secondString = "ghi"
thirdString = "ab"

string = "abcdef"
print("Original string:", string)

translation = string.maketrans(firstString, secondString, thirdString)

# translate string
print("Translated string:", string.translate(translation))

Original string: abcdef
Translated string: idef

# upper()
converts all lowercase characters in a string into uppercase characters and returns it.

In [58]:
string = "this should be uppercase!"
print(string.upper())

# string with numbers
# all alphabets whould be lowercase
string = "Th!s Sh0uLd B3 uPp3rCas3!"
print(string.upper())

THIS SHOULD BE UPPERCASE!
TH!S SH0ULD B3 UPP3RCAS3!

# zfill()
returns a copy of the string with '0' characters padded to the left.

In [59]:
text = "program is fun"
print(text.zfill(15))
print(text.zfill(20))
print(text.zfill(10))

0program is fun
000000program is fun
program is fun

# Variable Assignment

In [60]:
# syntax
# var_name = value

a = 10
type(a)

int

In [61]:
a = 'karthik'
type(a)

str

In [62]:
# Mathematical opereation with variable Assignment.

a =10 
b = 20

In [63]:
print(a+b)
print(a*b)
print(b/a)
print(a-b)
print(a%b)
print((a+b)+(a-b))

30
200
2.0
-10
10
20

In [64]:
## various ways of printing.
print('Hello')

Hello

In [65]:
first_name = 'karthik'
last_name = 'krishna'

In [66]:
print('My first name is {} and last name is {}'.format(first_name,last_name))

My first name is karthik and last name is krishna

In [67]:
print('My first name is {first} and last name is {last}'.format(first=first_name,last=last_name))

My first name is karthik and last name is krishna

In [68]:
len('karthik')

7

In [69]:
type(['1',2,3,'4',5])

list

# Importance of Python.
### 1.Python is easy to use.
### 2.It supports many libraries and frameworks.
### 3.Community and Corporate support.

# Python Data structures and boolean.
## Boolean
## Boolean and Logical Operators
## Lists,Dictionaries,Tuples,sets
## Comparison Operators

# 1.Boolean
##### Boolean values are two constant objects False and True.
##### They are represent truth values.
##### the numeric contexts
##### The built in function bool() can be used to cast any value to a Boolean, if value can be interupted as truth value.
##### They are return as false and truth, respectively.

In [70]:
print(True,False)

True False

In [71]:
type(True)

bool

In [72]:
type(False)

bool

In [73]:
my_str = 'karthik krishna'

In [74]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.istitle())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('a'))
print(my_str.startswith('s'))

False
False
False
False
False
True
False
True
False

# Boolean and Logical Operators

In [75]:
True and True

True

In [76]:
True and False

False

In [77]:
True or True

True

In [78]:
True or False

True

In [79]:
str_example = 'Hello world'
my_str = 'karthik'

In [80]:
my_str.isalpha() or str_example.isnum()

True

# Lists
list is a data structure in python that is a mutable, or changeable, ordered sequence of elements each element or value inside of a list is called an item. just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ].

In [81]:
lst_example =[]

In [82]:
type(lst_example)

list

In [83]:
lst=list()
type(lst)

list

In [84]:
lst = [100,200,300,400,500,100,100]
type(lst)

list

# Built-in functions in List
1.lst.append() 

2.lst.clear() 

3.lst.copy() 

4.lst.count() 

5.lst.extend() 

6.lst.index() 

7.lst.insert() 

8.lst.pop() 

9.lst.remove() 

10.lst.reverse() 

11.lst.sort()

# sort()

In [85]:
lst = [100,200,300,400,500,100,100]
lst.sort()
lst

[100, 100, 100, 200, 300, 400, 500]

# len()
Return the number of items in a container.

In [86]:
lst = [100,200,300,400,500,100,100]
len(lst)

7

# append()
append object to end

In [87]:
# append is used to add elements in the list.
lst = [100,200,300,400,500]
lst.append('karthik')

In [88]:
lst.append(['krishna','radha'])

In [89]:
# append list inside list.
lst.append([4,5])

In [90]:
lst

[100, 200, 300, 400, 500, 'karthik', ['krishna', 'radha'], [4, 5]]

In [91]:
#Indexing in list.
lst[3]

400

# copy()
a shallow copy of List.

In [92]:
lst = [100,200,300,400,500]
print(lst)
lst1= lst.copy()
print(lst1)

[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500]

# Insert
insert object before index.

Inserts in specific order.

In [93]:
lst = [100,200,300,400,500]
lst.insert(1,'vikram')

In [94]:
lst

[100, 'vikram', 200, 300, 400, 500]

# extend()
extend list by appending elements from the iterable

In [95]:
lst = [1,2,3]
lst.extend([4,5])

In [96]:
lst

[1, 2, 3, 4, 5]

# reverse()

In [97]:
lst = [1,2,3,4,5]
print(lst)
lst.reverse()
print(lst)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

# sum()
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

In [98]:
lst = [1,2,3,4,5,6]
sum(lst)

21

# pop()
remove and return item at index (default last).

In [99]:
lst = [1,2,3,4,5,10]
lst.pop()

10

# count() 
Calculates total occurrences of given elements of List.

return number of occurrences of value.

In [100]:
lst = [1,1,2,3,1,4,5,1,2,3,1]
lst.count(1)

5

# index()
Return the index of first occurrence.

In [101]:
lst = [1,3,10,3,1,4,5,1,10,3,1]
lst.index(10,1,10)

2

# min()

In [102]:
lst = [1,3,10,3,1,4,5,1,10,3,1]
min(lst)

1

# max()

In [103]:
lst = [1,3,10,3,1,4,5,1,10,3,1]
max(lst)

10

# remove()
remove first occurrence of value.

In [104]:
lst.remove(5)
lst

[1, 3, 10, 3, 1, 4, 1, 10, 3, 1]

# clear()
remove all items from List.

In [105]:
lst.clear()

# SETS
A set ia unordered collection data type that is iterable, mutable, and has no duplicate elements. pythons set class represents the mathematical notation of set. This is based on data structure known as hash table.

In [106]:
# Defineing empty set.
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [107]:
set1 = {"karthik","vikram","shilpa"}
set1

{'karthik', 'shilpa', 'vikram'}

#  Built-in functions in sets.
1.set1.add()

2.set1.clear()

3.set1.copy()

4.set1.difference()

5.set1.difference_update()

6.set1.discard()

7.set1.intersection()

8.set1.intersection_update()

9.set1.isdisjoint()

10.set1.issubset()

11.set1.issuperset()

12.set1.pop()

13.set1.remove()

14.set1.symmetric_difference()

15.set1.union()

16.set1.update()

# add()
Add an element to a set.

In [108]:
set1 = {"karthik","vikram","shilpa"}
set1.add('lakshmi')
set1

{'karthik', 'lakshmi', 'shilpa', 'vikram'}

# clear()
Remove all elements from this set.

In [109]:
set1 = {"karthik","vikram","shilpa"}
print(set1)
set1.clear()
set1

{'vikram', 'shilpa', 'karthik'}

set()

# copy()
Return a shallow copy of a set.

In [110]:
set1 = {"karthik","vikram","shilpa"}
print(set1)
set2 = set1.copy()
set2

{'vikram', 'shilpa', 'karthik'}

{'karthik', 'shilpa', 'vikram'}

# difference()
Return the difference of two or more sets as a new set.

In [111]:
set1 = {"karthik","vikram","shilpa",'srusti'}
set2 = {'karthik', 'lakshmi', 'shilpa', 'vikram'}

In [112]:
set1.difference(set2)

{'srusti'}

In [113]:
set2.difference(set1)

{'lakshmi'}

# difference_update()
 Remove all elements of another set from this set.

In [114]:
set1 = {"karthik","vikram","shilpa",'srusti'}
set2 = {'karthik', 'lakshmi', 'shilpa', 'vikram'}
set1.difference_update(set2)
set1

{'srusti'}

# discard()
Remove an element from a set if it is a member.

In [115]:
set1 = {"karthik","vikram","shilpa",'srusti'}
set1.discard('karthik')
set1

{'shilpa', 'srusti', 'vikram'}

# intersection()
Return the intersection of two sets as a new set.

In [116]:
set1 = {"karthik","vikram","shilpa",'srusti'}
set2 = {'karthik', 'lakshmi', 'shilpa', 'vikram'}
set1.intersection(set2)

{'karthik', 'shilpa', 'vikram'}

# intersection_update()
Update a set with the intersection of itself and another.

In [117]:
set1 = {1, 2, 3, 4}
set2 = {2, 3, 4, 5}
set3 = set1.intersection_update(set2)
print(set3)
print(set1)
print(set2)

None
{2, 3, 4}
{2, 3, 4, 5}

# isdisjoint()
Return True if two sets have a null intersection.

In [118]:
set1 = {1, 2, 3, 4}
set2 = {5,6,7}
set3 = {4, 5, 6}
set1.isdisjoint(set2)

True

In [119]:
set1.isdisjoint(set3)

False

# issubset()
Report whether another set contains this set.

In [120]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
set3 = {1, 2, 4, 5}
set1.issubset(set2)

True

In [121]:
set1.issubset(set3)

False

In [122]:
set2.issubset(set1)

False

In [123]:
set2.issubset(set3)

False

In [124]:
set3.issubset(set1)

False

In [125]:
set3.issubset(set2)

True

# issuperset()
Report whether this set contains another set.

In [126]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
set3 = {1, 2, 3}
set1.issuperset(set2)

True

In [127]:
set2.issuperset(set1)

False

In [128]:
set3.issuperset(set2)

True

# pop()
Remove and return an arbitrary set element.
Raises KeyError if the set is empty.

In [129]:
set1 = {10,1, 2, 3, 4, 5}
set1.pop()
set1

{2, 3, 4, 5, 10}

# remove()
Remove an element from a set; it must be a member.

In [130]:
set1 = {10,1, 2, 3, 4, 5}
set1.remove(10)
set1

{1, 2, 3, 4, 5}

# symmetric_difference()
Return the symmetric difference of two sets as a new set.

In [131]:
set1 = {'a', 'b', 'c', 'd'}
set2 = {'c', 'd', 'e' }
set3 = {}
set1.symmetric_difference(set2)

{'a', 'b', 'e'}

In [132]:
set2.symmetric_difference(set1)

{'a', 'b', 'e'}

In [133]:
set2.symmetric_difference(set3)

{'c', 'd', 'e'}

In [134]:
set1.symmetric_difference(set2)

{'a', 'b', 'e'}

# symmetric_difference_update()
Update a set with the symmetric difference of itself and another.

In [135]:
set1 = {'a', 'c', 'd'}
set2 = {'c', 'd', 'e' }
set1.symmetric_difference_update(set2)
set1

{'a', 'e'}

In [136]:
set2.symmetric_difference_update(set1)
set2

{'a', 'c', 'd'}

# union()
Return the union of sets as a new set.

In [137]:
set1 = {'a', 'c', 'd'}
set2 = {'c', 'd', 'e' }
set1.union(set2)

{'a', 'c', 'd', 'e'}

In [138]:
set2.union(set1)

{'a', 'c', 'd', 'e'}

# update()
Update a set with the union of itself and others.

In [139]:
set1 = {'a', 'c', 'd'}
set2 = {'c','b','d', 'e' }
set1.update(set2)
set2

{'b', 'c', 'd', 'e'}

In [140]:
set2.update(set2)
set1

{'a', 'b', 'c', 'd', 'e'}

# Dictionaries
A Dictionary is a collection which is unordered, changeable and indexed. In python dictionaries are written with curly brackets and they have keys and values.

In [141]:
dicr ={}
type(dicr)

dict

In [142]:
dicr = {1,2,3,4,5}
type(dicr)

set

In [143]:
# let create dictionary.
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
type(my_dicr)

dict

In [144]:
my_dicr["car4"]

'Ferrari'

In [145]:
my_dicr["car5"]="Maruthi"
my_dicr

{'car1': 'Audi',
 'car2': 'Benz',
 'car3': 'BMW',
 'car4': 'Ferrari',
 'car5': 'Maruthi'}

# Built-in functions of dictionary
1.clear()

2.copy()

3.fromkeys()

4.get()

5.items()

6.keys()

7.pop()

8.popitem()

9.setdefault()

10.update()

11.values()

# clear()
emove all items from D.

In [146]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
print(my_dicr)
my_dicr.clear()
my_dicr

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari'}

{}

# copy()
a shallow copy of D

In [147]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
print(my_dicr)
my_dicr1 = my_dicr.copy()
my_dicr1

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari'}

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari'}

# fromkeys()
 Returns a new dict with keys from iterable and values equal to value.

In [148]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
my_dicr1=dict.fromkeys(my_dicr)
my_dicr1

{'car1': None, 'car2': None, 'car3': None, 'car4': None}

# get()

In [149]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
my_dicr.get('car1')

'Audi'

In [150]:
my_dicr.get('car4')

'Ferrari'

In [151]:
my_dicr.get('car5','maruthi')

'maruthi'

# items()
a set-like object providing a view on D's items

In [152]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
for i in my_dicr.items():
    print(i)

('car1', 'Audi')
('car2', 'Benz')
('car3', 'BMW')
('car4', 'Ferrari')

In [153]:
for k,v in my_dicr.items():
    print(k,v)

car1 Audi
car2 Benz
car3 BMW
car4 Ferrari

# keys()

In [154]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
for k in my_dicr.keys():
    print(k)

car1
car2
car3
car4

# pop()
remove specified key and return the corresponding value.
If key is not found, d is returned if given, otherwise KeyError is raised

In [155]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
print(my_dicr)
my_dicr.pop("car3")
my_dicr

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari'}

{'car1': 'Audi', 'car2': 'Benz', 'car4': 'Ferrari'}

# popitem()
remove and return some (key, value) pair as a
2-tuple; but raise KeyError if D is empty.

In [156]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
print(my_dicr)
my_dicr.popitem()
my_dicr

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari'}

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW'}

# setdefault()
returns the value of a key (if the key is in dictionary). If not, it inserts key with a value to the dictionary.

In [157]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
default = my_dicr.setdefault("car1")
print(my_dicr)
print(default)

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari'}
Audi

# update()
updates the dictionary with the elements from the another dictionary object or from an iterable of key/value pairs.

In [158]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
my_dicr1 = {"car5":"Ambassedor"}
my_dicr.update(my_dicr1)
print(my_dicr)

{'car1': 'Audi', 'car2': 'Benz', 'car3': 'BMW', 'car4': 'Ferrari', 'car5': 'Ambassedor'}

# values()
an object providing a view on D's values

In [159]:
my_dicr = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
for i in my_dicr.values():
    print(i)

Audi
Benz
BMW
Ferrari

# Nested Dictionaries

In [160]:
car1_model = {'Audi':1995}
car2_model = {'Ambassader':1994}
car3_model = {'BMW':1996}

car_type = {'car1':car1_model, 'car2':car2_model, 'car3':car3_model}
car_type

{'car1': {'Audi': 1995}, 'car2': {'Ambassader': 1994}, 'car3': {'BMW': 1996}}

In [161]:
print(car_type['car2'])
print(car_type['car2']['Ambassader'])

{'Ambassader': 1994}
1994

# Tuples
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [162]:
my_tuple = ("krisna","Nandini","Karthik")
type(my_tuple)

tuple

In [163]:
print(my_tuple)

('krisna', 'Nandini', 'Karthik')

# built-in functiions in Tuple
1.count()

2.index()

# count()
Return number of occurrences of value

In [164]:
my_tuple = ("krishna","Nandini","Karthik",'krishna')
my_tuple.count('krishna')

2

# index()
Return first index of value.

In [165]:
my_tuple = ("krisna","Nandini","Karthik",'Nandini')
my_tuple.index('Karthik')

2