# Python Basics
## Numbers

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
2*10

20

In [4]:
10/2

5.0

In [5]:
10%2

0

In [6]:
10**2

100

In [7]:
type(1)

int

In [8]:
type(10.0)

float

In [9]:
type("hello")

str

In [10]:
type(True)

bool

# String

In [11]:
"Hello"

'Hello'

In [12]:
'Karthik'

'Karthik'

In [13]:
'karthik '+'krishna'

'karthik krishna'

In [14]:
'karthik '*10

'karthik karthik karthik karthik karthik karthik karthik karthik karthik karthik '

In [15]:
type('karthik')

str

# Variable Assignment

In [16]:
# syntax
# var_name = value

a = 10
type(a)

int

In [17]:
a = 'karthik'
type(a)

str

In [18]:
# Mathematical opereation with variable Assignment.

a =10 
b = 20

In [19]:
print(a+b)
print(a*b)
print(b/a)
print(a-b)
print(a%b)
print((a+b)+(a-b))

30
200
2.0
-10
10
20

In [20]:
## various ways of printing.
print('Hello')

Hello

In [21]:
first_name = 'karthik'
last_name = 'krishna'

In [22]:
print('My first name is {} and last name is {}'.format(first_name,last_name))

My first name is karthik and last name is krishna

In [23]:
print('My first name is {first} and last name is {last}'.format(first=first_name,last=last_name))

My first name is karthik and last name is krishna

In [24]:
len('karthik')

7

In [25]:
type(['1',2,3,'4',5])

list

# Importance of Python.
### 1.Python is easy to use.
### 2.It supports many libraries and frameworks.
### 3.Community and Corporate support.

# Python Data structures and boolean.
## Boolean
## Boolean and Logical Operators
## Lists,Dictionaries,Tuples,sets
## Comparison Operators

# 1.Boolean
##### Boolean values are two constant objects False and True.
##### They are represent truth values.
##### the numeric contexts
##### The built in function bool() can be used to cast any value to a Boolean, if value can be interupted as truth value.
##### They are return as false and truth, respectively.

In [26]:
print(True,False)

True False

In [27]:
type(True)

bool

In [28]:
type(False)

bool

In [29]:
my_str = 'karthik krishna'

In [30]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.istitle())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('a'))
print(my_str.startswith('s'))

False
False
False
False
False
True
False
True
False

# Boolean and Logical Operators

In [31]:
True and True

True

In [32]:
True and False

False

In [33]:
True or True

True

In [34]:
True or False

True

In [35]:
str_example = 'Hello world'
my_str = 'karthik'

In [36]:
my_str.isalpha() or str_example.isnum()

True

# Lists
list is a data structure in python that is a mutable, or changeable, ordered sequence of elements each element or value inside of a list is called an item. just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ].

In [37]:
lst_example =[]

In [38]:
type(lst_example)

list

In [39]:
lst=list()
type(lst)

list

In [40]:
lst = [100,200,300,400,500,100,100]
type(lst)

list

# Built-in functions in List
1.lst.append() 

2.lst.clear() 

3.lst.copy() 

4.lst.count() 

5.lst.extend() 

6.lst.index() 

7.lst.insert() 

8.lst.pop() 

9.lst.remove() 

10.lst.reverse() 

11.lst.sort()

# sort()

In [116]:
lst = [100,200,300,400,500,100,100]
lst.sort()
lst

[100, 100, 100, 200, 300, 400, 500]

# len()
Return the number of items in a container.

In [118]:
lst = [100,200,300,400,500,100,100]
len(lst)

7

# append()
append object to end

In [110]:
# append is used to add elements in the list.
lst = [100,200,300,400,500]
lst.append('karthik')

In [111]:
lst.append(['krishna','radha'])

In [112]:
# append list inside list.
lst.append([4,5])

In [113]:
lst

[100, 200, 300, 400, 500, 'karthik', ['krishna', 'radha'], [4, 5]]

In [115]:
#Indexing in list.
lst[3]

400

# copy()
a shallow copy of List.

In [124]:
lst = [100,200,300,400,500]
print(lst)
lst1= lst.copy()
print(lst1)

[100, 200, 300, 400, 500]
[100, 200, 300, 400, 500]

# Insert
insert object before index.

Inserts in specific order.

In [104]:
lst = [100,200,300,400,500]
lst.insert(1,'vikram')

In [105]:
lst

[100, 'vikram', 200, 300, 400, 500]

# extend()
extend list by appending elements from the iterable

In [102]:
lst = [1,2,3]
lst.extend([4,5])

In [103]:
lst

[1, 2, 3, 4, 5]

# reverse()

In [85]:
lst = [1,2,3,4,5]
print(lst)
lst.reverse()
print(lst)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

# sum()
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

In [119]:
lst = [1,2,3,4,5,6]
sum(lst)

21

# pop()
remove and return item at index (default last).

In [120]:
lst = [1,2,3,4,5,10]
lst.pop()

10

# count() 
Calculates total occurrences of given elements of List.

return number of occurrences of value.

In [92]:
lst = [1,1,2,3,1,4,5,1,2,3,1]
lst.count(1)

5

# index()
Return the index of first occurrence.

In [101]:
lst = [1,3,10,3,1,4,5,1,10,3,1]
lst.index(10,1,10)

2

# min()

In [60]:
lst = [1,3,10,3,1,4,5,1,10,3,1]
min(lst)

1

# max()

In [61]:
lst = [1,3,10,3,1,4,5,1,10,3,1]
max(lst)

5

# remove()
remove first occurrence of value.

In [62]:
lst.remove(5)
lst

[1, 1, 2, 3, 1, 4]

# clear()
remove all items from List.

In [63]:
lst.clear()

# SETS
A set ia unordered collection data type that is iterable, mutable, and has no duplicate elements. pythons set class represents the mathematical notation of set. This is based on data structure known as hash table.

In [64]:
# Defineing empty set.
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [125]:
set1 = {"karthik","vikram","shilpa"}
set1

{'karthik', 'shilpa', 'vikram'}

#  Built-in functions in sets.
1.set1.add()

2.set1.clear()

3.set1.copy()

4.set1.difference()

5.set1.difference_update()

6.set1.discard()

7.set1.intersection()

8.set1.intersection_update()

9.set1.isdisjoint()

10.set1.issubset()

11.set1.issuperset()

12.set1.pop()

13.set1.remove()

14.set1.symmetric_difference()

15.set1.union()

16.set1.update()

# add()
Add an element to a set.

In [128]:
set1 = {"karthik","vikram","shilpa"}
set1.add('lakshmi')
set1

{'karthik', 'lakshmi', 'shilpa', 'vikram'}

# clear()
Remove all elements from this set.

In [134]:
set1 = {"karthik","vikram","shilpa"}
print(set1)
set1.clear()
set1

{'vikram', 'karthik', 'shilpa'}

set()

# copy()
Return a shallow copy of a set.

In [136]:
set1 = {"karthik","vikram","shilpa"}
print(set1)
set2 = set1.copy()
set2

{'vikram', 'karthik', 'shilpa'}

{'karthik', 'shilpa', 'vikram'}

# difference()
Return the difference of two or more sets as a new set.

In [129]:
set1 = {"karthik","vikram","shilpa",'srusti'}
set2 = {'karthik', 'lakshmi', 'shilpa', 'vikram'}

In [130]:
set1.difference(set2)

{'srusti'}

In [131]:
set2.difference(set1)

{'lakshmi'}

# difference_update()
 Remove all elements of another set from this set.

In [132]:
set1 = {"karthik","vikram","shilpa",'srusti'}
set2 = {'karthik', 'lakshmi', 'shilpa', 'vikram'}
set1.difference_update(set2)
set1

{'srusti'}

# discard()
Remove an element from a set if it is a member.

In [139]:
set1 = {"karthik","vikram","shilpa",'srusti'}
set1.discard('karthik')
set1

{'shilpa', 'srusti', 'vikram'}

# intersection()
Return the intersection of two sets as a new set.

In [140]:
set1 = {"karthik","vikram","shilpa",'srusti'}
set2 = {'karthik', 'lakshmi', 'shilpa', 'vikram'}
set1.intersection(set2)

{'karthik', 'shilpa', 'vikram'}

# intersection_update()
Update a set with the intersection of itself and another.

In [145]:
set1 = {1, 2, 3, 4}
set2 = {2, 3, 4, 5}
set3 = set1.intersection_update(set2)
print(set3)
print(set1)
print(set2)

None
{2, 3, 4}
{2, 3, 4, 5}

# isdisjoint()
Return True if two sets have a null intersection.

In [147]:
set1 = {1, 2, 3, 4}
set2 = {5,6,7}
set3 = {4, 5, 6}
set1.isdisjoint(set2)

True

In [148]:
set1.isdisjoint(set3)

False

# issubset()
Report whether another set contains this set.

In [149]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
set3 = {1, 2, 4, 5}
set1.issubset(set2)

True

In [150]:
set1.issubset(set3)

False

In [152]:
set2.issubset(set1)

False

In [153]:
set2.issubset(set3)

False

In [155]:
set3.issubset(set1)

False

In [156]:
set3.issubset(set2)

True

# issuperset()
Report whether this set contains another set.

In [157]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
set3 = {1, 2, 3}
set1.issuperset(set2)

True

In [158]:
set2.issuperset(set1)

False

In [159]:
set3.issuperset(set2)

True

# pop()
Remove and return an arbitrary set element.
Raises KeyError if the set is empty.

In [163]:
set1 = {10,1, 2, 3, 4, 5}
set1.pop()
set1

{2, 3, 4, 5, 10}

# remove()
Remove an element from a set; it must be a member.

In [166]:
set1 = {10,1, 2, 3, 4, 5}
set1.remove(10)
set1

{1, 2, 3, 4, 5}

# symmetric_difference()
Return the symmetric difference of two sets as a new set.

In [168]:
set1 = {'a', 'b', 'c', 'd'}
set2 = {'c', 'd', 'e' }
set3 = {}
set1.symmetric_difference(set2)

{'a', 'b', 'e'}

In [169]:
set2.symmetric_difference(set1)

{'a', 'b', 'e'}

In [171]:
set2.symmetric_difference(set3)

{'c', 'd', 'e'}

In [173]:
set1.symmetric_difference(set2)

{'a', 'b', 'e'}

# symmetric_difference_update()
Update a set with the symmetric difference of itself and another.

In [176]:
set1 = {'a', 'c', 'd'}
set2 = {'c', 'd', 'e' }
set1.symmetric_difference_update(set2)
set1

{'a', 'e'}

In [177]:
set2.symmetric_difference_update(set1)
set2

{'a', 'c', 'd'}

# union()
Return the union of sets as a new set.

In [179]:
set1 = {'a', 'c', 'd'}
set2 = {'c', 'd', 'e' }
set1.union(set2)

{'a', 'c', 'd', 'e'}

In [180]:
set2.union(set1)

{'a', 'c', 'd', 'e'}

# update()
Update a set with the union of itself and others.

In [185]:
set1 = {'a', 'c', 'd'}
set2 = {'c','b','d', 'e' }
set1.update(set2)
set2

{'b', 'c', 'd', 'e'}

In [ ]:
set2.update(set2)
set1

# Dictionaries
###### A Dictionary is a collection which is unordered, changeable and indexed. In python dictionaries are written with curly brackets and they have keys and values.

In [71]:
dic ={}
type(dic)

dict

In [72]:
dic = {1,2,3,4,5}
type(dic)

set

In [73]:
# let create dictionary.
my_dic = {"car1":"Audi","car2":"Benz","car3":"BMW","car4":"Ferrari"}
type(my_dic)

dict

In [74]:
my_dic["car4"]

'Ferrari'

In [75]:
for i in my_dic:
    print(i)

car1
car2
car3
car4

In [76]:
for i in my_dic.values():
    print(i)

Audi
Benz
BMW
Ferrari

In [77]:
for i in my_dic.items():
    print(i)

('car1', 'Audi')
('car2', 'Benz')
('car3', 'BMW')
('car4', 'Ferrari')

In [78]:
my_dic["car5"]="Maruthi"
my_dic

{'car1': 'Audi',
 'car2': 'Benz',
 'car3': 'BMW',
 'car4': 'Ferrari',
 'car5': 'Maruthi'}

# Nested Dictionaries

In [79]:
car1_model = {'Audi':1995}
car2_model = {'Ambassader':1994}
car3_model = {'BMW':1996}

car_type = {'car1':car1_model, 'car2':car2_model, 'car3':car3_model}
car_type

{'car1': {'Audi': 1995}, 'car2': {'Ambassader': 1994}, 'car3': {'BMW': 1996}}

In [80]:
print(car_type['car2'])
print(car_type['car2']['Ambassader'])

{'Ambassader': 1994}
1994

# Tuples
Tuple is not mutable.

In [81]:
my_tuple = ("krisna","Nandini","Karthik")
type(my_tuple)

tuple

In [82]:
print(my_tuple)

('krisna', 'Nandini', 'Karthik')

In [83]:
## Inbuilt functiions
my_tuple.count('Karthik')

1

In [84]:
my_tuple.index('Nandini')

1