# Functionsin Python
why functions

definition of function 

positional and keyword arguments of functions

#### A function is a set of statements that take inputs, do some specific computation and produces output. These functions are called user defined function

In [1]:
def even_odd(num):
    if num%2 == 0:
        print("Number is even")
    else:
        print("Number is odd")

In [2]:
even_odd(25)

Number is odd

In [3]:
## print vs return 

def hello_world():
    print("Hello world")
hello_world()

Hello world

In [4]:
def hello_world():
    return "Hello world"
val = hello_world()
val

'Hello world'

In [5]:
def add_num(n1,n2):
    return n1+n2
ad = add_num(12,25)
ad

37

In [6]:
## Positional argument.
## Keyword argument.

def hello(name,age=24):
    print('My name is {} and age is {}'.format(name,age))
    
name = hello('krish')
name

My name is krish and age is 24

In [7]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)
    
hello('karthik','krishna',age=24,dob=1995)

('karthik', 'krishna')
{'age': 24, 'dob': 1995}

In [8]:
lst = ['karthik', 'krishna']
dct = {'age': 24, 'dob': 1995}
hello(*lst,**dct)

('karthik', 'krishna')
{'age': 24, 'dob': 1995}

In [9]:
## If conditions  and for loops

lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15,25,22,55]
def sum_even_odd(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum,odd_sum

sum_even_odd(lst)

(78, 133)

'''
Syntax
def funcname(parameter1,parameter2,...):
    function body

'''

# Lambda Functions

anonymous function.

A function with no name.

In [10]:
## lambda vs def

def addnum(a,b):
    return a+b

addnum(1,2)

3

In [11]:
addnum = lambda a,b:a+b
addnum(1,3)

4

In [12]:
def even(num):
    if num%2==0:
        return True

even(10)

True

In [13]:
even1 =lambda num:num%2==0
even1(5)

False

In [14]:
def addnums(x,y,z):
    return x+y+z

addnums(1,2,3)

6

In [15]:
addnums = lambda x,y,z:x+y+z
addnums(10,20,30)

60

# Map Functions using Python

In [16]:
def even_or_odd(num):
    if num%2==0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)
    
even_or_odd(25)

'The number 25 is odd'

In [17]:
lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]
list(map(even_or_odd,lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 10 is even',
 'The number 12 is even',
 'The number 13 is odd',
 'The number 14 is even',
 'The number 15 is odd']

In [18]:
list(map(lambda num:num%2==0,lst))

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False]

# Filter Functions In Python

In [19]:
def even(num):
    if num%2==0:
        return True
even(12)

True

In [20]:
lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]
list(filter(even,lst))

[2, 4, 6, 8, 10, 12, 14]

In [21]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8, 10, 12, 14]

# List Comprehension
List Comprehension provide a concise way to create a list. it consists of bracket containing expression followed by for clause,the zero or more for or if clauses. The expression can be anything, meaning you can put all kinds of objects in lists

In [22]:
## def vs List Comprehension.

lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]
lst1 = []
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

lst_square(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 144, 169, 196, 225]

In [23]:
lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]

In [24]:
lst1 =[i*i for i in lst]
lst1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 144, 169, 196, 225]

In [25]:
lst1 =[i*i for i in lst if i%2==0]
lst1

[4, 16, 36, 64, 100, 144, 196]

In [26]:
lst1 =[i*i for i in lst if i%2!=0]
lst1

[1, 9, 25, 49, 81, 169, 225]

# String Formatting in python

In [27]:
print("Hello everyone")

Hello everyone

In [28]:
def greeting(name):
    return "Hello {}. Welcome to the community".format(name)

greeting("karthik")

'Hello karthik. Welcome to the community'

In [29]:
def welcome_email(name,age):
    return "Welcome {}.Your age is {}".format(name,age)

welcome_email("karthik",24)

'Welcome karthik.Your age is 24'

In [30]:
def welcome_email(name,age):
    return "Welcome {name}.Your age is {age}".format(age=age,name=name)

welcome_email("karthik",24)

'Welcome karthik.Your age is 24'

# Python List Iterables vs Iterators

In [31]:
# list Iterables
lst=[1,2,3,4,5,6,7]

for i in lst:
    print(i)

1
2
3
4
5
6
7

In [32]:
list1 = iter(lst)
list1

In [33]:
next(list1)

1