# Python Basics
## Numbers

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
2*10

20

In [4]:
10/2

5

In [5]:
10%2

0

In [6]:
10**2

100

In [7]:
type(1)

int

In [8]:
type(10.0)

float

In [9]:
type("hello")

str

In [10]:
type(True)

bool

# String

In [11]:
"Hello"

'Hello'

In [12]:
'Karthik'

'Karthik'

In [13]:
type('karthik')

str

# Variable Assignment

In [14]:
# syntax
# var_name = value

a = 10
type(a)

int

In [15]:
a = 'karthik'
type(a)

str

In [16]:
# Mathematical opereation with variable Assignment.

a =10 
b = 20

In [17]:
print(a+b)
print(a*b)
print(b/a)
print(a-b)
print(a%b)
print((a+b)+(a-b))

30
200
2
-10
10
20

In [18]:
## various ways of printing.
print('Hello')

Hello

In [19]:
first_name = 'karthik'
last_name = 'krishna'

In [20]:
print('My first name is {} and last name is {}'.format(first_name,last_name))

My first name is karthik and last name is krishna

In [21]:
print('My first name is {first} and last name is {last}'.format(first=first_name,last=last_name))

My first name is karthik and last name is krishna

In [22]:
len('karthik')

7

In [23]:
type(['1',2,3,'4',5])

list

# Importance of Python.
### 1.Python is easy to use.
### 2.It supports many libraries and frameworks.
### 3.Community and Corporate support.

# Python Data structures and boolean.
## Boolean
## Boolean and Logical Operators
## Lists,Dictionaries,Tuples,sets
## Comparison Operators

# 1.Boolean
##### Boolean values are two constant objects False and True.
##### They are represent truth values.
##### the numeric contexts
##### The built in function bool() can be used to cast any value to a Boolean, if value can be interupted as truth value.
##### They are return as false and truth, respectively.

In [24]:
print(True,False)

(True, False)

In [25]:
type(True)

bool

In [26]:
type(False)

bool

In [27]:
my_str = 'karthik krishna'

In [28]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.istitle())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('a'))
print(my_str.startswith('s'))

False
False
False
False
False
True
False
True
False

# Boolean and Logical Operators

In [29]:
True and True

True

In [30]:
True and False

False

In [31]:
True or True

True

In [32]:
True or False

True

In [33]:
str_example = 'Hello world'
my_str = 'karthik'

In [34]:
my_str.isalpha() or str_example.isnum()

True

# Lists
###### list is a data structure in python that is a mutable, or changeable, ordered sequence of elements each element or value inside of a list is called an item. just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ].

In [35]:
lst_example =[]

In [36]:
type(lst_example)

list

In [37]:
lst=list()
type(lst)

list

In [38]:
lst = ['mathematics','chemistry',100,200,300,400,500]
type(lst)

list

In [39]:
len(lst)

7

# Append

In [41]:
#.append is used to add elements in the list.
lst.append('karthik')

['mathematics', 'chemistry', 100, 200, 300, 400, 500, 'karthik', 'karthik']

In [44]:
lst.append(['krishna','radha'])

In [45]:
lst

['mathematics',
 'chemistry',
 100,
 200,
 300,
 400,
 500,
 'karthik',
 'karthik',
 ['krishna', 'radha']]

In [48]:
#Indexing in list.
lst[9]

['krishna', 'radha']

# Insert

In [49]:
#Inserts in specific order.
lst.insert(1,'vikram')

In [50]:
lst

['mathematics',
 'vikram',
 'chemistry',
 100,
 200,
 300,
 400,
 500,
 'karthik',
 'karthik',
 ['krishna', 'radha']]

# Extend Method

In [51]:
lst = [1,2,3]

In [53]:
lst.append([4,5])

In [54]:
lst

[1, 2, 3, [4, 5]]

In [55]:
lst.extend([6,7])

In [56]:
lst

[1, 2, 3, [4, 5], 6, 7]

# Various Operations we can perform in List.

In [57]:
lst = [1,2,3,4,5]

In [58]:
sum(lst)

15

# pop() method

In [59]:
lst.pop()

5

# count() : Calculates total occurrences of given elements of List.

In [62]:
lst = [1,1,2,3,1,4,5]
lst.count(1)

3

In [64]:
#index(): Return the index of first occurrence.
lst.index(1,1,4)

1

In [65]:
min(lst)

1

In [66]:
max(lst)

5